:root {
    --nav-font-color: rgb(186, 184, 184);
    --nav-element-size: 0.9rem;


    --content-color: rgb(160,162,181);
    --header-color: white;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 320px){
    :root {
        --nav-top: 1.5em;
        --nav-height: 6.3em;
        --nav-background-color: rgba(8, 16, 32, 0.9);
    }
    header {
        position: fixed;
        top: var(--nav-top);
        right: 0;
        left: 0;
        height: var(--nav-height);

        display: flex;
        align-items: center;
        gap: 3em;

        padding: 0 1.3em;
        /* padding: calc(var(--nav-height)/2) 1.6em 0; */
    }
    header::before {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* for clicking hamburger */
        z-index: -1; 
        /* can have z-index: 0 if dont want to show logo */

        background-color: rgba(144, 95, 106, 0.2);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    /* logo */
    .header-icon-wrap {

        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .header-icon {
        width: 100%;
        max-width: 3.3em;
    }
    /* line */
    .header-line { display: none;}

    /* nav bar */
    .header-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 70%;
        
        display: none;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 2em;
        
        padding-top: 10em;   
        
        background-color: var(--nav-background-color);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        text-transform: uppercase;
        font-size: var(--nav-element-size);
        letter-spacing: 2.5px;
    }
    .header-nav-element {
        width: 100%;
        color: var(--nav-font-color);
        text-decoration: none;
        padding: 3em 0 3em 3em;
    }
    .header-nav-element:hover {
        background-color: rgba(37, 64, 123, 0.4);
    }

    .header-hamburger-wrap {
        justify-self: flex-end;
        /* height: var(--nav-height); */
        width: 10%;
    }
    .header-hamburger {
        width: 60%;
        min-width: 2em;
        cursor: pointer;
    }

    /* when click hamburger */
    header.open {
        /* position */
        /* for creating modal win for side bar */
        /* top: 0;
        padding-top: calc(var(--nav-top)); */
        top: 0;
        padding-top: var(--nav-top);
        height: 100%;
        align-items: flex-start;
    }
    header.open::before {
        display: block;
    }
    header.open .header-nav {
        display: flex;
        
    }
    header.open .header-icon-wrap {
        height: var(--nav-height);
    }
    header.open .header-hamburger-wrap {
        z-index: 1;
        height: var(--nav-height);
    }

}


@media screen and (min-width: 768px){
    :root {
        --nav-background-color: rgba(21,38,71, 0.4);
        --nav-height: 7em;
        --nav-top : 0em;
    }
    header {
        height: var(--nav-height);
    }

    /* nav */
    .header-nav {
        width: 60%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
        box-sizing: content-box;
        padding: 0 2em;
    }
    .header-nav-element {
        /* for whole block */
        height: 100%;

        /* not whole big block with all elements same size */
        width: auto;

        padding: 0 0.5em;

        /* center text */
        display: flex;
        justify-content: center;
        align-items: center;

        /* for nav hover effect */
        position: relative;
    }
    .header-nav-element:after {
        position: absolute;
        bottom: 0;
        left: 0;
        
        content: "";
        height: 0.5em;
        border-radius: 10px;
        background-color: white;
        transition: width 1s;
        width: 0;
    }
    .header-nav-element:hover {
        background-color: transparent;
    }
    .header-nav-element:hover:after {
        width: 100%;
    }

    /* hamburger */
    .header-hamburger {
        display: none;
    }
}
@media screen and (min-width: 1040px){
    :root {
        --nav-top: 1.5em;
    }
    header {
        position: relative;
    }
    /* line */
    .header-line {
        position: absolute;
        left: 6em;
        /* b/c nav has z-index is 1 */
        z-index: 2;
        display: block;
        width: 32%;
        height: 2%;
        background-color: rgba(182, 179, 179, 0.5);
        border-radius: 7px;
    }

    /* nav */
    .header-nav {
        justify-content: flex-end;
        counter-reset: section -1;
        padding: 0em 3.6em 0em 0em;
        gap: 1.3em;
    }
    .header-nav-element::before {
        content: "0"counter(section) "";
        padding-right: 0.7em;
        font-weight: bold;
        font-size: calc(var(--nav-element-size) + 0.4rem);
    }
    .header-nav-element {
        counter-increment: section;
    }
}