:root {

    --nav-height: 8rem;
    --top-pos-nav: 4rem;
    --white: rgb(217, 239, 252);
    --grey: rgba(39,41,51,255);
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Rajdhani', sans-serif;
}

main {
    width: 100vw;
    min-height: 100vh;
    /* height: 100vh; */
 
    background: url("../assets/home/background-home-desktop.jpg") center / cover no-repeat;
}
/* .container::before {
    position: fixed;
    top: 0;
    left: 0;

} */

/* start of header */
header {
    --text-color: rgb(220, 229, 255);

    position: fixed;
    top: var(--top-pos-nav);
    left: 0;
    width: 100%;
    height: var(--nav-height);
    
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 4em;

    background: rgba(0, 0, 0, 0);
    padding: 0 0 0 4em;
}
.header__icon {
    width: 3.7%;
    max-width: 5rem;
    min-width: 3.5rem;
    /* height: 100%; */
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__icon img {
    max-width: 100%;
    height: auto;
}

/* start of header content */
.header__content {
    position: relative;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
/* start of line header */
.header__line-wrapper {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    z-index: 1;
}
.header__line{
    width: 100%;
    border-bottom: 2px solid var(--grey);
}
/* end of line header */
/* start of nav menu */
nav {
    position: absolute;
    right: 0;

    width: 60%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10em;

    background:rgba(42, 46, 67, 0.3);
    backdrop-filter: blur(10px);
}
.nav__content {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8em;

    counter-reset: item -1;
}
.nav__content li {
    /* height: 100%; */
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    color: var(--text-color);

    counter-increment: item;
}
.nav__content li::marker {
    content: "0" counter(item) "  ";
    font-weight: 700;
    font-size: clamp(1.4rem, 2.5vw, 2.1rem);
}
.nav__content a {
    display: inline-block;
    /* height: 100%; */
    color: var(--text-color);
    /* line-height: var(--nav-height); */
    text-decoration: none;
}

/* end of nav menu */
/* end of header content */
/* end of header */

/* start of content section */
.content {
    padding-top: calc(var(--nav-height) + var(--top-pos-nav));
    display: flex;
    min-height: calc(100vh - (var(--nav-height) + var(--top-pos-nav)));
}
.content-left, .content-right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* start of column left */
.content__text-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3em;

    color: var(--white);
}
.content__subheadtext {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2;
}
.content__headtext {
    font-family: 'Dancing Script', sans-serif;
    font-size: 13rem;
    letter-spacing: 1.2rem;
}
.content__descri {
    font-size: 1.7rem;
    word-spacing: 0.2rem;
}
/* end of column left */
/* start of column right */
.content__explore-btn {
    width: 23vw;
    max-width: 30rem;
    max-height: 30rem;
    height: 23vw;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}
.content__explore {
    color: var(--grey);
    font-size: 5.6rem;
    text-transform: uppercase;
    
}
/* end of column right */
/* end of content section */
